/* components/song-menu-content/index.wxss */
.menu {
  padding: 30rpx;
  background-color: #fff;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20rpx;

    .title {
      color: #AAA;
    }

    .right {
      display: flex;
      align-items: center;
      color: #aaa;

      .add {
        font-size: 60rpx;
        margin-right: 6rpx;
        margin-top: -10rpx;
      }

      .dots {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 42rpx;

        .dot {
          border: 6rpx solid #AAA;
          border-radius: 50%;
        }
      }
    }
  }
}